@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 44deg 87% 94%;
		--theme-link: 68deg 100% 21%;
		--theme-text: 70deg 8% 15%;
		--theme-accent: 205deg 69% 37%;
		--theme-accent-2: 205deg 69% 37%;
		--theme-quote: 351deg 66% 48%;
		--table-text-light: 70deg 8% 15%;
		--table-border-light: 205deg 69% 37%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 70deg 8% 15%;
		--theme-link: 68deg 100% 21%;
		--theme-text: 0deg 0% 85%;
		--theme-accent: 32deg 98% 76%;
		--theme-accent-2: 32deg 98% 76%;
		--theme-quote: 102deg 100% 86%;
		--table-text-dark: 0deg 0% 85%;
		--table-border-dark: 32deg 98% 76%;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}
/* Feed Styles */
.toot {
    @apply bg-white dark:bg-gray-800 p-4 rounded-lg shadow-md mb-4;
  }

  .toot a, .toot time, .toot .username, .toot .display-name, .toot .body {
    @apply text-gray-900 dark:text-white;
  }

  .toot a:hover {
    @apply text-blue-500 hover:text-blue-600;
  }

  .avatar {
    @apply rounded-full;
  }

  /* Adjusted column and table styles */
  .column1, .column2 {
    @apply text-textColor;
    color: hsl(var(--theme-text));
  }
  
  .column2 {
    background-color: transparent;
    padding: 5px 10px 5px 35px; /* Adjusted padding for consistency */
  }  

  tr {
    border-bottom: 1px dotted hsl(var(--theme-accent) / alpha-value);
  }
  
  tr:not(:last-child) {
    border-bottom: 1px dotted var(--table-border, #5A6900); /* Default to light theme color */
  }
}