@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 44deg 87% 94%;
		--theme-link: 68deg 100% 21%;
		--theme-text: 70deg 8% 15%;
		--theme-accent: 205deg 69% 37%;
		--theme-accent-2: 205deg 69% 37%;
		--theme-quote: 351deg 66% 48%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 70deg 8% 15%;
		--theme-link: 68deg 100% 21%;
		--theme-text: 0deg 0% 85%;
		--theme-accent: 32deg 98% 76%;
		--theme-accent-2: 32deg 98% 76%;
		--theme-quote: 102deg 100% 86%;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}
	.column1 {
		background-color: transparent;
		color: #D9D9D9;
	  }
	  
	  .column2 {
		background-color: transparent; /* This line is optional as it's the default value */
		padding-left: 35px; /* Adjust to match the width of your first column */
 /* Negative value of the padding to pull text back to the edge */
		color: #D9D9D9;
	  }
	tr {
	border-bottom: 1px dotted #5A6900; /* Adjust the color as needed */
  	}
	tr:not(:last-child) {
	border-bottom: 1px dotted #5A6900;
	}
}