---
import Feed from "@/components/feed.astro";
import PageLayout from "@/layouts/Base.astro";
---
<PageLayout meta={{ title: "Home" }}>

    <section>

      <h1 class="title mb-6">live feed 📃</h1>
      <p class="mb-4">
        this is just a reference for me to look at when i am further building out this site, or things to consider for my projects. i would not recommend following.
      </p>
    </section>
    <main>
      <Feed />
    </main>
  </PageLayout>