---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "joe scott's digital commonplace",
	title: "joe's commonplace | resume",
};


---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">resume 💼</h1>
		<blockquote>
			<p>
				<i
					>disclaimer: the intent of this website isn't professional. it is a catchall for all
					things <b>me.</b> please note that no experience and employer represents my personal values
					or beliefs. If you've been directed here based on my application, then feel free to browse
					and learn more about who i am. otherwise, thanks for stopping by</i
				> 🙏
			</p>
		</blockquote>

		<h1 class="title">summary 🪧</h1>
		<p>
			10 years of marketing experience. enjoys people and building community. a deep love for
			learning new things, maintaining a healthy sense of curiosity. leadership roles across many
			disciplines: project management, digital strategy (social & web), biz dev, creative direction,
			partnership advertising, and publications.
		</p>
		<h1 class="title">professional xp 👨‍💻</h1>
		<p>
			<i>the below only includes full-time positions. temporary/contract positions are listed and
			detailed in full resume</i> <a href="src/assets/Joe_Scott_Resume_022024.docx">here.</a>
		</p>
		<section class="mt-16">
			<style>
				.mt-16 table {
					border-collapse: collapse; /* Ensures that the border spacing is reset */
				}
				.mt-16 table td {
					vertical-align: top;
					padding-bottom: 10px;
				}
			</style>
			<table>
				<tr>
					<td class="column1"
						><span class="rounded-lg bg-quote/10 p-1 text-quote">current</span><br />
						marketing publications manager @ <a href="https://www.aksia.com/">aksia</a></td
					>
					<td class="column4">
						senior role - manage team of admins and marketers - develop and coordinate the release
						of internal and external publications - work with portfolio advisors, investment
						researchers, legal and compliance, project managing key firm-wide initiatives such as
						full creative rebrand, operational process development, publications redesign, and more.
					</td>
					<td class="column3">
						<ul class="list-inside list-disc">
							<li>adobe photoshop</li>
							<li>adobe illustrator</li>
							<li>powerpoint</li>
							<li>backstop</li>
							<li>happyfox</li>
							<li>wordpress</li>
							<li>html/css</li>
							<li>agile</li>
							<li>linkedin insights</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="column1">
						senior vice president, creative strategy @ <a href="https://www.icrinc.com/"
							>icr, inc.</a
						></td
					>
					<td class="column4">
						investor relations - led team of creatives - redefined brand identities - concepted new
						brand designs for spac and despac deals - made new pitch decks, investor day
						presentations, and brand marketing collateral across biopharma, food service, fashion,
						tech, and nonprofit organizations - strategized and wireframed new websites, working
						with developers both state-side and abroad - built websites and landing pages</td
					>
					<td class="column3">
						<ul class="list-inside list-disc">
							<li>adobe photoshop</li>
							<li>adobe illustrator</li>
							<li>powerpoint</li>
							<li>wrike</li>
							<li>squarespace</li>
							<li>agile</li>
							<li>wordpress</li>
						</ul>
					</td>
					<tr>
						<td class="column1">
							director, digital strategy @ <a href="https://www.octagon.com/">octagon</a></td
						>
						<td class="column4">
							award winning creative sports and entertainment agency - promoted from manger to my
							first my first director position - built a multimillion dollar social media strategy
							and influencer vertical - led social listening, analytics, and predictive campaign
							modeling - new business and pipeline development/management - operated as an
							integrated offering across experiential, creative, account management, and more -
							liased on brand's behalf as lead across multi-agency campaigns - storyboard, directed,
							produced video content for OTT, digital ads, and social campaigns
						</td>
						<td class="column3">
							<ul class="list-inside list-disc">
								<li>native social tools</li>
								<li>adobe photoshop</li>
								<li>powerpoint</li>
								<li>sprinklr</li>
								<li>hubspot</li>
								<li>sprout social</li>
								<li>excel</li>
								<li>crimson hexagon</li>
								<li>netbase</li>
								<li>final cut pro</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="column1">
							project manager @ <a href="https://www.foxnews.com/">fox news</a></td
						>
						<td class="column4">
							worked alongside product managers, web devs, and technical writers to produce (at the
							time) the most visited news website in America - facilitated large-scale website
							development projects such as new homepage, fox sports redesign, celebrity host pages,
							and more - created and implemented detailed project plans and timelines - oversaw CMS
							migrations from drupal and wordpress to adobe experience manager
						</td>
						<td class="column3">
							<ul class="list-inside list-disc">
								<li>adobe experience manager</li>
								<li>wordpress</li>
								<li>drupal</li>
								<li>scrum (later)</li>
								<li>agile</li>
								<li>JIRA</li>
								<li>confluence</li>
								<li>technical writing</li>
							</ul>
						</td>
					</tr>
					<!-- Additional rows -->
				</tr>
			</table>
		</section>		
		<h1 class="title">awards & panels 🏅</h1>
		<ul class="list-inside list-disc">
			<li>2022 Best in Agency Creativity and Innovation, General Mills' Tailgate Nation; <i>Lead Digital Strategist</i></li>
			<li>"Rethinking Quality Metrics in the Digital Age," New York, NY 2020; <i>Panelist</i></li>
			<li>"The State of Influencer Marketing," by ANA Chicago, IL 2019</li>
			<li>2019 Cynopsis Rising Star Award</li>
		</ul>
		<h1 class="title">contact me ☺️</h1>
		<p>feel free to reach out to me by clicking <a href="mailto:scottjw89@gmail.com">here.</a></p>
	</div>
</PageLayout>
