---
// There's no need for a script tag unless you're adding JavaScript here.
// This is just the component setup.
--- 
<section>
    <a class="mastodon-feed"
       href="https://mastodon.social/@poundcake"
       data-toot-limit="6">
       a mad man's brain dump.
    </a>
</section>
<script type="module" src="https://esm.sh/emfed@1"></script>