---
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	icon: string;
}[] = [
	{
		friendlyName: "Github",
		link: "https://github.com/iampoundcake",
		icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>`,
	},
	{
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/itsjoescott",
		icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-.88-.06-1.601-1-1.601-1 0-1.16.781-1.16 1.601v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>`,
	},
	{
		friendlyName: "Mastodon",
		link: "https://mastodon.social/@poundcake",
		icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M21.258 13.99c-.274 1.41-2.456 2.955-4.962 3.254-1.306.156-2.593.3-3.876 2.927-.823 1.666-1.793 1.666-2.614 0l-3.876-2.927c1.283-.3 2.57-.443 3.876-.299 2.506.298 4.688 1.844 4.962 3.253.07.462.109.929.109 1.395l-.002.02s.021.05-.02.05c-.043 0-.02-.034-.02-.047v-.006c-.112.422-.868 1.629-3.006 1.629-3.262 0-3.29-1.138-3.295-1.645v-.007c-.001-.014-.02-.05.02-.05.043 0-.02.036-.02.05l.002.02c0 .466.039.933.11 1.394.274 1.41 2.456 2.955 4.962 3.254 1.306.156 2.593.3 3.876 2.927.823 1.666 1.793 1.666 2.614 0l3.876-2.927c-1.283-.3-2.57-.443-3.876-.299-2.506.298-4.688 1.844-4.962 3.253-.07.462-.109.929-.109 1.395v.007c0 .013.02.047-.02.047-.043 0 .02-.034.02-.047v-.006c.112-.422.868-1.629 3.006-1.629 3.262 0 3.29 1.138 3.295 1.645v.007c.001.014.02.05-.02.05-.043 0 .02-.036.02-.05l-.002-.02c0-.466-.039-.933-.11-1.394zm-3.22 2.787c-1.351 0-2.001-1.1-2.001-2.246 0-1.101.65-2.246 2.001-2.246 1.35 0 2 .1 2 2.246 0 1.146-.65 2.246-2 2.246z"/></svg>`,
	},	
];
---

<div class="flex flex-wrap items-end gap-x-2" >
	<p>other stuff ⟶</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, icon }) => (
				<li class="flex">
					<a
						class="inline-block p-1 sm:hover:text-link"
						href={link}
						rel={`noopener noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
						<span class="h-6 w-6" set:html={icon} aria-hidden="true" />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
